﻿@model Article
@{
    ViewData["Title"] = "Article details";
}
<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @Model.Title
            <span class="badge badge-pill badge-primary" style="float:right">
                <small>@(Model.Published ? "Published" : "Not Published")</small>
            </span>
            <span class="badge badge-pill badge-primary" style="float:right">
                <small>Updated at: @Model.UpdatedAt</small>
            </span>
            <span class="badge badge-pill badge-primary" style="float:right">
                <small>Created at: @Model.CreatedAt</small>
            </span>
        </h4>
        <h5>@Model.Description</h5>
    </div>
    <div class="card-text p-1">@Model.Text</div>
</div>
<a asp-action="Index" class="btn btn-primary">Back to article list</a>
