﻿@model IEnumerable<Article>
@{
    ViewData["Title"] = "Articles";
}
<table class="table table-sm table-striped">
    <thead>
        <tr><th>Title</th><th>Description</th><th>CreatedAt</th><th>UpdatedAt</th><th>Published</th></tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.Title</td>
                <td>@a.Description</td>
                <td>@a.CreatedAt</td>
                <td>@a.UpdatedAt</td>
                <td>@(a.Published ? "Published" : "Not yet")</td>
                <td>
                    <form asp-action="Delete" method="post">
                        <a asp-action="Details"
                           class="btn btn-sm @(a.Published ? "btn-info" : "btn-info disabled")" asp-route-id="@a.ID">
                            View article
                        </a>
                        <a asp-action="Edit"
                           class="btn btn-sm btn-warning" asp-route-id="@a.ID">
                            Edit
                        </a>
                        <input type="hidden" name="id" value="@a.ID" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Create New Article</a>