﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="p-2">
            <h4 class="bg-primary text-center p-2 text-white">@ViewData["Title"]</h4>
            @RenderBody()
        </div>
    </div>
</body>
</html>
