﻿@model DataAccessLibrary.Models.Article
@{
    ViewData["Title"] = ViewBag.CreateMode ? "Create" : "Edit";
}
<form asp-action="@(ViewBag.CreateMode ? "Create" : "Edit")" method="post">
    <input name="original.ID" value="@Model?.ID" type="hidden" />
    <input name="original.Title" value="@Model?.Title" type="hidden" />
    <input name="original.Description" value="@Model?.Description" type="hidden" />
    <input name="original.Text" value="@Model?.Text" type="hidden" />
    <input name="original.CreatedAt" value="@Model?.CreatedAt" type="hidden" />
    <input name="original.UpdatedAt" value="@Model?.UpdatedAt" type="hidden" />
    <input name="original.Published" value="@Model?.Published" type="hidden" />
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Text"></label>
        <textarea asp-for="Text" class="form-control"></textarea>
    </div>
    @if (!Model.Published)
    {
        <div class="form-group">
            <label asp-for="Published">Publish</label>
            <input asp-for="Published" />
        </div>
    }
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>